.chatbot-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  background-color: gray;
}

.messages-container {
  overflow-y: auto;
  flex-grow: 1;
  background-color: black;
}

.user-message {
  background-color: gray;
  margin: 2px;
  color: white;
  border-radius: 5px;
  max-width: 60%;
}

.bot-message {
  background-color: gray;
  margin: 2px;
  border-radius: 5px;
  max-width: 60%;
}

.input-group-container {
  width: 100%;
}

.form-control {
  box-shadow: none;
  border-color: black;
  background-color: gray;
  color: white;
}

.btn-primary-custom {
  border: none;
  color: black;
  background-color: white;
}

pre {
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  color: white;
  overflow-x: auto;
}

code {
  display: block;
  white-space: pre;
  color: white; /* Adjust this color as needed for syntax highlighting */
}
