.chatbot-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  background-color: gray;
}

.messages-container {
  overflow-y: auto;
  flex-grow: 1;
  background-color: gray;
}

.user-message {
  background-color: gray;
  margin: 2px;
  color: white;
  border-radius: 5px;
  max-width: 60%;
  align-self: flex-end;
}

.bot-message {
  background-color: gray;
  margin: 2px;
  border-radius: 5px;
  max-width: 60%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.input-group-container {
  width: 100%;
}

.form-control {
  box-shadow: none;
  border-color: black;
  background-color: gray;
  color: white;
}

.btn-primary-custom {
  border: none;
  color: black;
  background-color: white;
}

pre {
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  color: white;
  overflow-x: auto;
  font-family: inherit;
  margin-bottom: 10px;
}

.explanation {
  color: white;
  margin-top: 10px;
}

.code-block {
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  color: white;
  overflow-x: auto;
  font-family: inherit;
  margin-bottom: 10px;
}

.explanation-block {
  color: white;
  margin-top: 10px;
}
